.tag-button-1 {
    background: transparent;
    border: 1px solid #e2e0e0;
    border-radius: 8px;
    padding: 2px 10px;
    box-shadow: 0px 1px 0px 0px #a1a1a1;
}
.tag-button-1:active {
    box-shadow: 0px 0px 0px 0px #c9c9c9;
}
.b-none {
    border: 0px;
}
.outline-none {
    outline: none;
}
.w-100 {
    width: 100%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .dropdown-product-name{
    color: black;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}